<ion-header>
  <ion-toolbar>
    <ion-title>
      Cultivation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>In progress</ion-card-content>
    <ion-list>
      <ion-item *ngFor="let a of crops" (click)="viewCrop(a)">
        <ion-img slot="start" style="width: 80px; height: 80px;" src={{a.image}}></ion-img>
        <ion-label position="stacked">{{a.title}}</ion-label>
        <ion-label position="stacked">Start date: {{(a.startDate.getMonth() + 1) + '/' + a.startDate.getDate()}}</ion-label>
        <ion-label position="stacked">{{a.numPlants}} plants </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-content>Completed</ion-card-content>
    <ion-list>
      <ion-item *ngFor="let a of completedCrops" (click)="viewCrop(a)">
        <ion-img slot="start" style="width: 80px; height: 80px;" src={{a.image}}></ion-img>
        <ion-label position="stacked">{{a.title}}</ion-label>
        <ion-label position="stacked">Start date: {{(a.startDate.getMonth() + 1) + '/' + a.startDate.getDate()}}</ion-label>
        <ion-label position="stacked">{{a.numPlants}} plants </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button (click)="newCrop()" expand="block" color="light">
    Add new crop
  </ion-button>

</ion-content>
